
## Mybatis 配置（持久层框架自己选择）
mybatis:
  config: classpath:mybatis-config_bak.xml
  master:
    mapperLocations: classpath*:mapper/master/*.xml
    basePackage: com.qhh.bank.mapper
  salver:
    mapperLocations: classpath*:mapper/salver/*.xml
    basePackage: com.qhh.bank.mapper

logback:
  #非开发环境是否开启控制台日志
  enableConsoleLogWhenNotInDev: true
  #**日志文件存放目录，目录后面无需再加"/"。备注如果这项不配置，则不输出日志文件
  logFileDir: /acc-Log

## 数据源配置
spring:
  active:
    profile: dev
  datasource:
    master:
      driver-class-name: com.mysql.cj.jdbc.Driver
      type: com.zaxxer.hikari.HikariDataSource
      jdbcUrl: jdbc:mysql://localhost:3306/mysql?serverTimezone=UTC&characterEncoding=utf8&useUnicode=true&useSSL=false
      username: root
      password: root
    salver:
      driver-class-name: com.mysql.cj.jdbc.Driver
      type: com.zaxxer.hikari.HikariDataSource
      jdbcUrl: jdbc:mysql://localhost:3306/mysql?serverTimezone=UTC&characterEncoding=utf8&useUnicode=true&useSSL=false
      username: root
      password: root
logging:
  config: classpath:logback_bak.xml
  level:
    com.qhh.bank: debug
server:
  port: 8080
