server:
  port: 8081

spring:
  application:
    name: user-service # 应用名称
#  datasource:
#    url: jdbc:mysql://localhost:3306/mydb01
#    username: root
#    password: 123
#    hikari:
#      maximum-pool-size: 20
#      minimum-idle: 10

#mybatis:
#  type-aliases-package: com.leyou.userservice.pojo

eureka:
  client:
    service-url: # EurekaServer地址
      defaultZone: http://127.0.0.1:8761/eureka
  instance:
    prefer-ip-address: true # 当调用getHostname获取实例的hostname时，返回ip而不是host名称
    ip-address: 127.0.0.1 # 指定自己的ip信息，不指定的话会自己寻找