server:
  port: 8080
  servlet:
    context-path: /directbank

spring:
  profiles: dev

eureka:
  client:
    service-url: # EurekaServer地址
      defaultZone: http://127.0.0.1:8761/eureka
  instance:
    prefer-ip-address: true # 当调用getHostname获取实例的hostname时，返回ip而不是host名称
    ip-address: 127.0.0.1 # 指定自己的ip信息，不指定的话会自己寻找


## Mybatis 配置（持久层框架自己选择）
mybatis:
  config: classpath:mybatis-config.xml
  master:
    mapperLocations: classpath*:mapper/master/*.xml
    basePackage: com.qhh.bank.mapper
  salver:
    mapperLocations: classpath*:mapper/salver/*.xml
    basePackage: com.qhh.bank.mapper

logging:
  config: classpath:logback.xml
  level:
    com.qhh.bank: debug